<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WopiHandler"/>
      <add name="WopiHandler" verb="*" resourceType="Unspecified" path="/wopi/*" type="SampleWopiHandler.WopiHandler, SampleWopiHandler, Version=1.0.0.0, Culture=neutral"/>
    </handlers>
  </system.webServer>
</configuration>